*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;

  caret-color: transparent;
}

:root {
  --box-shadow-size: 0 0 0.5em 0.2em;
  --color-primary: #d08513;
  --color-secondary: #2b2b2b;
  --color-tertiary: #ffffff;
  --color-gray: #f7f7f7;
  --color-secondary-light: rgba(134, 151, 168, 0.452);
}

/* *********************** */
/* *********************** */
/* **** main styles ****** */
/* *********************** */
/* *********************** */

.hilight {
  color: var(--color-primary);
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.1em;
}

.info {
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 1.5em;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (min-width: 1028px) {
  .info {
    font-size: 1.2em;
  }
}

.socialMediaList {
  width: 100%;
  height: 6em;
  list-style: none;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;

  padding: 0 20%;
}

.socialMediaList li {
  width: 3em;
  height: 3em;
  border-radius: 50%;

  box-shadow: var(--box-shadow-size) var(--color-primary);
}

.socialMediaList li .item {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: grid;
  place-items: center;

  border: none;
  background-color: var(--color-tertiary);
}

.socialMediaList li .item svg {
  width: 70%;
  height: auto;
  fill: var(--color-primary);
}

/* *********** */

html {
  scroll-behavior: smooth;
  scroll-margin-top: 2em;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background: var(--color-tertiary);
  box-shadow: inset 0 0 0.5em var(--color-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 5em;
  background: var(--color-primary);
}

button,
a {
  cursor: pointer;
  transition: 0.7s;
}

button:hover,
a:hover {
  transform: scale(1.1);
}

button:active,
a:active {
  transform: scale(0.7);
}

body {
  background-color: var(--color-tertiary);
}

/* *********************** */
/* *********************** */
/* ****** header ********* */
/* *********************** */
/* *********************** */

header {
  width: 3em;
  height: 3em;

  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 9999;

  display: grid;
  place-items: center;
  background-color: transparent;
}

@media (min-width: 1028px) {
  header {
    background-color: var(--color-tertiary);
  }
}

header #openNav {
  width: 100%;
  aspect-ratio: 1/1;

  background-color: var(--color-tertiary);
  border: none;
  border-radius: 50%;
  box-shadow: var(--box-shadow-size) var(--color-primary);

  display: grid;
  place-items: center;
  position: absolute;
}

header #openNav span {
  display: block;
  width: 1.7em;
  height: 0.2em;
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 0.5em;
  transition: 0.5s;
}

header #openNav span:nth-child(1) {
  transform: translateY(-0.5em);
}

header #openNav span:nth-child(3) {
  transform: translateY(0.5em);
}

header #openNav.openNav span:nth-child(1) {
  transform: rotate(45deg) scalex(1.25) scale(0.7);
}

header #openNav.openNav span:nth-child(2) {
  opacity: 0;
}

header #openNav.openNav span:nth-child(3) {
  transform: rotate(-45deg) scalex(1.25) scale(0.7);
}

header nav {
  width: 100%;
  height: 100%;
}

header nav ul {
  width: 100%;
  height: 100%;

  list-style: none;
  padding: 0.2em;
  display: grid;
  place-items: center;
  position: relative;
}

header nav ul li {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;

  position: absolute;
  transition: 0.3s;
  opacity: 0;
}

header nav.open ul li:nth-child(1) {
  transform: translateY(125%);
  opacity: 1;
}

header nav.open ul li:nth-child(2) {
  transform: translateY(245%);
  opacity: 1;
}

header nav.open ul li:nth-child(3) {
  transform: translateY(365%);
  opacity: 1;
}

header nav.open ul li:nth-child(4) {
  transform: translateY(485%);
  opacity: 1;
}

header nav.open ul li:nth-child(5) {
  transform: translateY(605%);
  opacity: 1;
}

header nav.open ul li:nth-child(6) {
  transform: translateY(725%);
  opacity: 1;
}

header nav ul li a {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-size) var(--color-primary);

  display: grid;
  place-items: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s;
  background-color: var(--color-tertiary);
}

header nav ul li a svg {
  width: 1.5em;
  aspect-ratio: 1;

  fill: var(--color-secondary);
}

header nav ul li a.selected {
  box-shadow: none;
  background-color: var(--color-primary);
  transform: scale(1.1);
}

header nav ul li a.selected svg {
  fill: var(--color-tertiary);
}

@media (min-width: 1028px) {
  header {
    width: 5em;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding: 0;

    display: grid;
    place-items: center;

    box-shadow: var(--box-shadow-size) var(--color-primary);
  }

  header #openNav {
    display: none;
  }

  header nav {
    width: 3.5em;
    height: fit-content;
    position: relative;
  }

  header nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 1em;
  }

  header nav ul li {
    height: calc(100% / 6);
    aspect-ratio: 1;
    opacity: 1;
    position: relative;
  }

  header nav.open ul li:nth-child(n + 1) {
    transform: none;
  }

  header nav ul li a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 0.5em;
    box-shadow: none;
  }

  header nav ul li a:not(.selected):hover {
    box-shadow: var(--box-shadow-size) var(--color-primary);
  }
}

/* *********************** */
/* *********************** */
/* ****** main *********** */
/* *********************** */
/* *********************** */

main {
  width: 100%;
  height: 100%;
}

main article {
  width: 100%;
  height: fit-content;
  color: var(--color-secondary);
  padding: 1em 2em;
}

@media (min-width: 1028px) {
  main article {
    margin: 5em 0;
    padding: 1em 15%;
  }
}

main article .titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

main article .titles h2 {
  width: fit-content;
  font-size: 2em;
  text-transform: uppercase;
}

main article:not(:first-child) .titles h2::first-letter {
  color: var(--color-primary);
}

main article .titles p {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1em;
  order: -1;
}

main article .titles p::before {
  content: "";
  width: 3em;
  height: 0.1em;
  background-color: var(--color-secondary);
}

/* *********************** */
/* *********************** */
/* ****** home *********** */
/* *********************** */
/* *********************** */

#home h1 {
  height: 4em;
  color: var(--color-primary);
  font-weight: 800;

  display: grid;
  place-items: center;
}

#home h2 {
  position: absolute;
  color: transparent;
}

#home section {
  width: 100%;
  height: calc(100% - 6em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

#home section .imgContainer {
  width: 70vw;
  height: 70vw;
  overflow: hidden;
}

#home section .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#home section .info .firstName,
#home section .info .lastName {
  font-size: 2em;
  letter-spacing: normal;
}

#home section .info .firstName {
  color: var(--color-primary);
  margin-right: 0.3em;
}

@media (min-width: 1028px) {
  #home section {
    flex-direction: row;
    gap: 2em;
  }

  #home section .imgContainer {
    width: 40vw;
    height: 40vw;
    order: 1;
  }

  #home section .info {
    width: 40%;
  }

  #home .socialMediaList {
    margin-top: 0.5em;
  }
}

/* *********************** */
/* *********************** */
/* ****** skills ********* */
/* *********************** */
/* *********************** */

#skills {
  background-color: transparent;
}

#skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 0 0.5em;
}

#skills ul li {
  --size: 5em;
  width: var(--size);
  height: var(--size);
  padding: 0.5em;
  background-color: var(--color-gray);
  border-radius: 1em;
  box-shadow: 0 0 0.5em var(--color-secondary-light);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
  grid-template-areas:
    "icon"
    "text";
  justify-items: center;

  align-items: center;
  row-gap: 0.25em;
}

#skills ul li p {
  font-size: 0.7em;
  font-weight: bold;
  grid-area: text;
  text-wrap: wrap;
  text-align: center;
}

#skills ul li svg {
  grid-area: icon;
  width: auto;
  height: 100%;
  fill: var(--color-primary);
  color: var(--color-primary);
}

#skills section {
  margin-top: 2em;
  padding-left: 0.5em;
}

#skills section h3 {
  position: relative;
  width: fit-content;
  margin: 2.5em auto 1em auto;
}

#skills section h3::before {
  display: block;
  content: "";
  width: 100%;
  height: 0.1em;

  position: absolute;
  bottom: -0.1em;

  background-color: var(--color-primary);
}

#skills section h3::after {
  display: block;
  content: "";
  width: 1em;
  height: 100%;
  font-size: 1em;

  position: absolute;
  right: -1em;
  top: 0;

  animation: loading 2s infinite linear;
}

@keyframes loading {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "....";
  }
}

@media (min-width: 1028px) {
  #skills ul {
    width: 60%;
    margin: 0 auto;
  }

  #skills ul li {
    --size: 7em;
  }
  #skills ul li p {
    font-size: 0.8em;
  }
}

/* *********************** */
/* *********************** */
/* ****** about ********* */
/* *********************** */
/* *********************** */

#about > p {
  margin: 0 auto 1em auto;
}

/* *********************** */
/* *********************** */
/* ****** projects ******* */
/* *********************** */
/* *********************** */

#projects ul {
  list-style: none;
  padding: 0;
}

#projects .projectsList {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

#projects .projectsList .project {
  width: 20em;
  height: 33em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--color-gray);
  box-shadow: 0 0 0.5em var(--color-secondary-light);

  display: grid;
  grid-template-rows: 1.5em 10em auto 4em 2em;
  grid-template-areas:
    "title"
    "img"
    "description"
    "tools"
    "links";
  align-items: center;
  gap: 0.5em;
}

#projects .projectsList .project h3 {
  grid-area: title;
  height: 100%;
  font-size: 1.2em;
  text-align: center;
}

#projects .projectsList .project .imgContainer {
  grid-area: img;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  overflow: hidden;
}

#projects .projectsList .project .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#projects .projectsList .project .info {
  grid-area: description;
  height: 100%;
  font-size: 0.9em;
}

#projects .projectsList .project ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  height: 100%;
}

#projects .projectsList .project .tools {
  grid-area: tools;
}

#projects .projectsList .project .links {
  grid-area: links;
}

#projects .projectsList .project ul li {
  width: fit-content;
  height: 1.5em;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

#projects .projectsList .project .links li {
  padding: 0.5em 2em;
  border-radius: 5em;
  height: 100%;

  background-color: var(--color-tertiary);
  box-shadow:
    var(--box-shadow-size) var(--color-primary),
    inset 0 0 0 0.2em var(--color-primary);
}

#projects .projectsList .project .links li a {
  color: var(--color-primary);
  text-decoration: none;
}

/* *********************** */
/* *********************** */
/* ****** contact ******** */
/* *********************** */
/* *********************** */

#contact {
  background-color: violet;
}

/* *********************** */
/* *********************** */
/* ****** footer ********* */
/* *********************** */
/* *********************** */

footer {
  width: 100%;
  height: 2.5em;
  background-color: var(--color-tertiary);
  padding: 1em 0;
}

footer p {
  font-size: 0.7em;
  text-align: center;
  color: var(--color-secondary);
}
